* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    background-color: rgb(212, 203, 203);
}

.navBar {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    margin: auto;
    width: 100%;
    height: 50px;
    gap: 40px;
    text-decoration: none;
    border: none;
    font-size: 1.25rem
}

.navBar a {
    text-decoration: none;
}
.navBar a:hover {
    text-decoration: underline;
    text-shadow: 0cap;
    color: rgb(46, 87, 64);
    font-weight: bold;
}

.buttonContainer {
    margin: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.addNote {
    border-radius: 5px;
    background-color: rgb(101, 193, 82) ;
    color: beige;
    padding: 7.5px 2rem 0.5rem;
    cursor: pointer;
    right: 1 rem;
    top: 1 rem;
    position: fixed;
}

.addNote:active {
    transform: scale(0.98);
}

.addNote:hover {
    background-color: rgb(46, 87, 64);
    color: blanchedalmond;
}

.notesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px;
}

.note {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 4px;
    border: none;
    height: 400px;
    width: 100%;
    /* overflow-y: scroll; */
}

.note .tools {
    background-color: rgb(46, 87, 64);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: rgb(168, 215, 191);
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
}

.main {
    padding: 20px;
}

.hidden {
    display: none;
}
.edit-icon, .trash-icon, .star-icon{
    transition: color 0.3s, transform 0.3s;
}

.edit-icon:hover, .trash-icon:hover, .star-icon:hover {
    color: white;
}

.star-icon.yellow {
    color: yellow;
}

@media (max-width: 768px) {
    .navBar {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
        height: auto;
        font-size: 1rem;
    }

    .notesContainer {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 20px;
    }

    .addNote {
        padding: 10px 1.5rem;
        font-size: 1rem;
        top: 0.5rem;
        right: 0.5rem;
    }
}
